@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    list-style: none;
    background: #0082e6;
    height: 80px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

label.logo{
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 50px;
}

nav ul li a{
    color: white;
    font-size: 15px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a.active,a:hover{
    background: #212b33;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
}

#check{
    display: none;
}

.background{
    background-color: #212b33;
    height: 100vh;
    width: 100%;
    padding-top: 1px;
    font-family: 'Permanent Marker', cursive;
}

.title{
    color: white;
    text-align: center;
    font-size: 35px;
    margin-top: 2%;
}

.display{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide{
    display: none;
}

.background .container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}

.tile{
    border: 1px solid white;
    min-height: 100px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX{
    color: #c3b709;
}

.playerO{
    color: #EF5B0C;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

#reset{
    background-color: #ff3860;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}


@media (max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 16px;
    }

    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width:858px){

    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #212b33;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    nav a.active,a:hover{
        background: none;
        color: #0082e6;
    }

    #check:checked ~ul{
        left: 0;
    }
}